In [1]:
!pip install --quiet climetlab

# Dataset availability

(Work in progress)

In [2]:
from climetlab.utils.availability import Availability
from climetlab.decorators import availability

In [3]:
C0 = [
    {"level": "500", "param": "Z", "step": "24"},
    {"level": "500", "param": "Z", "step": "36"},
    {"level": "500", "param": "Z", "step": "48"},
    {"level": "500", "param": "T", "step": "24"},
    {"level": "500", "param": "T", "step": "36"},
    {"level": "500", "param": "T", "step": "48"},
    {"level": "850", "param": "T", "step": "36"},
    {"level": "850", "param": "T", "step": "48"},
    {"level": "1000", "param": "Z", "step": "24"},
    {"level": "1000", "param": "Z", "step": "48"},
]

In [4]:
a0 = Availability(C0)

In [5]:
a0

In [6]:
C1 = [
    {"level": "500", "param": "Z", "step": "24"},
    {"level": "500", "param": "Z", "step": "36"},
    {"level": "500", "param": "Z", "step": "48"},
    {"level": "500", "param": "T", "step": "24"},
    {"level": "500", "param": "T", "step": "36"},
    {"level": "500", "param": "T", "step": "48"},
    {"level": "850", "param": "T", "step": "36"},
    {"level": "850", "param": "T", "step": "48"},
    {"level": "1000", "param": "Z", "step": "24"},
    {"level": "1000", "param": "Z", "step": "48"},
    {"level": "850", "param": "Z", "step": "36"},
    {"level": "850", "param": "Z", "step": "48"},
]

In [7]:
a1 = Availability(C1)

In [8]:
a1

In [9]:
a1.select(param="Z")

In [10]:
a1.select(param="T")

In [11]:
for r in a1.select(param="T").iterate():
    print(r)

{'param': ('T',), 'level': ('500',), 'step': ('24', '36', '48')}
{'param': ('T',), 'level': ('850',), 'step': ('36', '48')}

In [12]:
for r in a1.select(param="T").iterate(True):
    print(r)

{'param': 'T', 'level': '500', 'step': '24'}
{'param': 'T', 'level': '500', 'step': '36'}
{'param': 'T', 'level': '500', 'step': '48'}
{'param': 'T', 'level': '850', 'step': '36'}
{'param': 'T', 'level': '850', 'step': '48'}

In [13]:
a1.select(step="36")

In [14]:
a1.select(step="36", param="T")

In [15]:
a1.count(step="36", param="T")

2

In [16]:
a1.count()

12

In [17]:
a1.select(step="22")

In [18]:
a1.select(param="Z", step="99").count()

0

In [19]:
a3 = Availability(
    [
        {"date": ["1990-01-01/1990-01-02"], "param": ["Z", "T"]},
        {"date": ["1990-01-02/1990-01-05"], "param": ["Z"]},
        {"date": ["1990-01-04/1990-01-15"], "param": ["Z", "T"]},
    ],
    intervals=["date"],
)

In [20]:
a3

In [21]:
a3.count()

29

In [22]:
a3.select(date="1990-01-02/1990-01-04")

In [23]:
for r in a3.select(date="1990-01-02/1990-01-04").iterate(True):
    print(r)

{'date': datetime.date(1990, 1, 2), 'param': 'T'}
{'date': datetime.date(1990, 1, 4), 'param': 'T'}
{'date': datetime.date(1990, 1, 2), 'param': 'Z'}
{'date': datetime.date(1990, 1, 3), 'param': 'Z'}
{'date': datetime.date(1990, 1, 4), 'param': 'Z'}

In [24]:
a3.missing(param="T", date="1990-01-01/1990-01-15")